{% extends 'base.html' %} {% block recipes %}
<!-- Recipes list page, pulls all recipes from database and displays in grid -->
<div class="container">
    <div class="row">
        {% for recipe in recipes %}
        <div class="col s12 m6 l4 ">
            <div class="card">
                <div class="card-image">
                    <a href="{{url_for('view_recipe', recipe_id=recipe._id)}}">
                        <img src="{{recipe.url}}">
                    </a>  
                    <a href="{{url_for('view_recipe', recipe_id=recipe._id)}}" class="btn-floating halfway-fab waves-effect waves-light orange">
                        <i class="material-icons">visibility</i>
                    </a>
                </div>
                <div class="card-content name">
                    <span class="card-title">{{recipe.recipe_name}}</span>
                    <p class="rec-overview">{{recipe.overview}}</p>
                </div>
                <div class="card-content">
                    <p>
                        Rating: {{recipe.rating}} <br /> Cook time: {{recipe.cook_time}} <br /> Prep time: {{recipe.prep_time}}<br />
                    </p>
                </div>
                <!-- Only allow edit and delete of recipe if user is logged in -->
                {% if current_user.is_authenticated %}
                <div class="card-content">
                    <p>
                        <a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn btn-edit">Edit</a>
                        
                        <a class="waves-effect waves-light btn modal-trigger btn-delete" href="#modal1">Delete</a>

                          <!-- Modal Structure -->
                          <div id="modal1" class="modal">
                            <div class="modal-content">
                              <h4>Are you sure you want to delete {{recipe.recipe_name}}</h4>
                              <p>This function can not be undone, make sure that you are sure before deleting this record.</p>
                            </div>
                            <div class="modal-footer">
                              <a href="{{url_for('delete_recipe', recipe_id=recipe._id)}}" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                            </div>
                          </div>
                    </p>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}